
body {
  padding: 30px 90px;
}
h1 {
 font-size: 20px; 
 font-weight: bold;
 margin-bottom: 10px;
 text-transform: uppercase;
}
h1 span {
 float: right; 
}
#content, #files  {
 margin: 10px 0; 
}
#files {
 display: block; 
}
.chart-unique {
  float: left;
  margin-left:-60px;
}
.total-words {
  font-size: 2.5em;
  font-weight: bold;
  color: #3399CC;
}
.all-about {
  font-size:1.5em;
  font-weight:bold;
}
ul.questions {
 float: right; 
 list-style: none;
 font-size: 2em;
 line-height:1.5;
 vertical-align: middle;
 font-weight: bold;
 margin: 0;
}
ul.questions li {
 clear: right;
 margin-bottom: 5px;
 text-align: right;
}
ul.questions li span {
 background-color: #3399CC;
 color: #fff;
 width: 21px;
 padding-right: 3px;
 margin-left: 5px;
 display: block;
 float: right;
}